<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.izpan.modules.biz.repository.mapper.BizLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BizLogsResultMap" type="com.izpan.modules.biz.domain.entity.BizLogs">
        <result column="user_id" property="userId"/>
        <result column="created_at" property="createdAt"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="username" property="username"/>
        <result column="token_name" property="tokenName"/>
        <result column="model_name" property="modelName"/>
        <result column="quota" property="quota"/>
        <result column="prompt_tokens" property="promptTokens"/>
        <result column="completion_tokens" property="completionTokens"/>
        <result column="use_time" property="useTime"/>
        <result column="is_stream" property="isStream"/>
        <result column="channel_id" property="channelId"/>
        <result column="token_id" property="tokenId"/>
        <result column="other" property="other"/>
        <result column="id" property="id"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BizLogsColumnList">
        id
        ,
        user_id, created_at, type, content, username, token_name, model_name, quota, prompt_tokens, completion_tokens, use_time, is_stream, channel_id, token_id, other
    </sql>

</mapper>
